 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

body h1 {
            color: #333;
            margin-bottom: 20px;
        }

body p {
            color: #667;
            text-align: center;
            margin-bottom: 20px;
        }

