body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    color: black;
}

h1, h2{
    color: #2c3e50;
}

input, button, select {
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 1em;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#resultado, #lista {
    margin-top: 15px;
    font-size: 1.1em;
}

button a {
    text-decoration: none;
    color: black;
}